:root {
    dark: black;
    light: purple;
    white: white;
    font: 16px;
}

body {
    background-color: black;
    margin-top: 100px solid gray;
}

/* CHANGE THIS TO BODY TURNED OFF DISPLAY */
body h1 {
    /* display: inline-block; */
    flex-wrap: wrap;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: red;
    /* background-color: darkred; */
    font-family: Luminari, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body h2 {
    flex-wrap: wrap;
    border: 10px;
    font-size: 24px;
    font-weight: bold;
    color: red;
    font-family: Luminari, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body h3 {
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: bold;
    color: red;
    font-family: Luminari, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body p {
    flex-wrap: wrap;
    font-size: var(--font);
    text-align: left;
    padding: 20px;
    color: white;
    font-family: Luminari, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* TURN OFF ALL BUT COLOR - THIS WAS THE BIG THING CAUSING AN ISSUE
THE LARGE MARGIN WAS PUSHING IT DOWN */
body a {
    color: red;
    /* margin-left: 1200px; */
    /* display: inline-block; */
    /* text-decoration: none; */
}

/* ADDED HEADER TO GET THE BACKGROUND COLOR ACROSS THE SCREEN */
header {
    /* padding: 20px; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: darkred;
    /* color: #ffffff; */
}

/* ADDED TO DEFINE THE DISPLAY */
header h1 {
    display: inline-block;
    /* font-size: 48px; */
}

header nav {
    padding-top: 85px;
    margin-right: 30px;
    float: right;
    font-size: 24px;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

footer h3 {
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: bold;
    color: red;
    font-family: Luminari, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer li {
    flex-wrap: wrap;
    font-size: var(--font);
    text-align: justify;
    list-style-type: none;
    padding: 10px;
    color: white;
    font-family: Luminari, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer a {
    text-align: right;
}

#filler-image {
    flex-wrap: wrap;
    margin: 30px;
    height: 400px;
    width: 800px;
}

#filler-image:hover {
    flex-wrap: wrap;
    height: 450px;
    width: 850px;
    border-radius: 10px solid red;
    background-color: #fff;
    box-shadow: 0px 00px 30px 10px red;
}

.filler-image {
    flex-wrap: wrap;
    margin: 40px;
    height: 250px;
    width: 200px;
}

.filler-image:hover {
    flex-wrap: wrap;
    margin: 30px;
    height: 300px;
    width: 250px;
    border-radius: 10px solid red;
    background-color: #fff;
    box-shadow: 0px 00px 30px 10px red;
}

.self-image {
    flex-wrap: wrap;
    margin: 30px;
    height: 650px;
    width: 400px;
}

.self-image:hover {
    border-radius: 10px solid red;
    background-color: #fff;
    box-shadow: 0px 00px 30px 10px red;}
